# Build artifacts

build/
CMakeCache.txt
CMakeFiles/
cmake\_install.cmake

# Executables

my\_app
my\_tests
\*.exe

# Object files and libraries

\*.o
\*.obj
\*.a
\*.lib
\*.so
\*.dylib
\*.pdb \# Program Database (for debugging on Windows)

# Editor and IDE specific files
.vscode/*
!.vscode/c_cpp_properties.json

.idea/
\*.iml
\*.ipr
\*.iws
\*.suo
\*.user
\*.sln
\*.vcxproj
\*.vcxproj.filters

# Temporary files and logs

\*.log
\*.tmp
\*.swp
\*\~

# vcpkg build cache (can be large)

vcpkg\_installed/
vcpkg\_build/

# Other

.DS\_Store
extra/uv.lock
extra/pyproject.toml
extra/script.py
extra/prop_json.cu
extra/out3.svg
.gitignore
extra/out1.svg
extra/.python-version
extra/out2.svg
benchmark_result1.csv
benchmark_result2.csv
benchmark_result3.csv
